<footer style="background-color: aqua">
  <nav>
    <ul
      style="
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <a href="/"
        ><li
          style="
            display: inline-block;
            width: 120px;
            font-size: 30px;
            font-weight: bold;
          "
        >
          Home
        </li></a
      >
      <a href="/about"
        ><li
          style="
            display: inline-block;
            width: 120px;
            font-size: 30px;
            font-weight: bold;
          "
        >
          About
        </li></a
      >
      <a href="/menu"
        ><li
          style="
            display: inline-block;
            width: 120px;
            font-size: 30px;
            font-weight: bold;
          "
        >
          Menu
        </li></a
      >
    </ul>
  </nav>
</footer>
